/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
}
/* common css */

/* header css */
header{
    width: 100%;
    background-color: #412567;
    height: 92px;
}
nav{
    padding-top: 23px;
}
menu  ul{
    display: flex;
    gap: 32px;
}
menu  ul li{
    list-style: none;
    
}
menu  ul li a{
    text-decoration: none;
    color: #FFFFFF;
   
    font-weight: 500;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn button{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 16px;
}
/* header css */