/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* common css */

/* header css */
header{
    width: 100%;
    background-color: #1A0B2E;
    height: 92px;
}
nav{
    padding-top: 23px;
}
menu  ul{
    display: flex;
    gap: 32px;
}
menu  ul li{
    list-style: none;
    
}
menu  ul li a{
    text-decoration: none;
    color: #FFFFFF;
   
    font-weight: 500;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn button{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 16px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
}
.btn button:hover{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;   
}
/* header css */

/* banner css */
.banner {
    width: 100%;
    height: 87.5vh;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.hero-area{
    position: relative;
} 
.circle-img{
    width:325px;
    display: block;
}
.microphone-img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
}
.badge{
    position: absolute;
    top:10px;
    right:25px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.banner-txt h2 {
    font-size: 64px;
    font-weight: 800;
    margin-top: 0px;
    color: #FFFFFF;
}
.banner-txt p{
    font-weight:400 ;
    color: #FFFFFF;
} 
.banner-btn{
    padding-top:24px;
}
.banner-btn i{
    margin-right: 10px;
}
 .spotify-btn{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 16px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    cursor: pointer; 
}
.spotify-btn:hover{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}
.subscribe-btn{
    background: linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 16px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    cursor: pointer; 
}
.subscribe-btn:hover{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}
/* banner css */

/* about css */
#about{
    width: 100%;
    height: 647px;
    background-color: #1A0B2E;
    padding-top: 50px;
}
.about-text{
    text-align: center;
    color: #FFFFFF;
}
.about-text h2{
    font-size: 48px;
    font-weight: 800;
}
.about-text p{
    padding: 0 400px;
    line-height: 40px;
}
.about-text .last-para{
    padding: 40px 0;
}
.about-counter{
    padding-top: 80px;
}
.number-with-icon h3{
    color: #00FF88;
    font-size: 48px;
    font-weight: bolder;
}
.number-with-icon p{
    color: #FFFFFF;
    text-transform: uppercase;
}
.number{
    padding: 0 200px;
    text-align: center;
}
.about-counter .number{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.fa-solid{
    font-size: 30px;
    align-items: center;
}
/* about css */
#choose-section{
    background-color:#230E3D; 
    padding-bottom: 100px;
}
#choose-section h2{
   font-size: 48px;
   color: #FFFFFF;
   padding-top:80px;
   padding-bottom: 30px;
   text-align: center;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.box-container h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    padding-bottom: 10px;   
}
.box-container p{
    font-size: 16px;
    line-height: 28px;
    color: #ead3d3;
}
.box-container img{
    padding-bottom: 10px;
    max-width: 60px;
}
.box-container .box-1{
   grid-row: span 2;
   align-content: center;
}
.box-container .box-2{
  grid-column: span 2;
}
.box-container .box-3{
  grid-column: span 2;
}
.box-container .box-4{
  grid-column: span 2;
}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5{
    background: #290556e2;
    padding: 40px;
    border-radius: 40px;
}
/* about css */

/* Featured Episodes Section */
.feature-section{
    background-color:#1A0B2E ;
    padding: 80px 0;
}
.feature-section h2{
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 25px;
}
iframe{
    max-width: 379px;
    height: 215px;
    border-radius: 20px 20px 0 0;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.video{
    text-align: center;
}
.card1,
.card2,
.card3{
    background-color: #250D44;
    border-radius: 20px;
}
.feature-cards{
    padding-bottom: 80px;
}
.feature-cards h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-bottom: 8px;
}
.feature-cards p{
    font-size: 1rem;
    color: #fae9e9;
    line-height: 28px;
}
.feature-text{
    padding: 20px;
}
.time{
    display: flex; 
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}
.time img{
  width: 20px; 
  height: 20px;
}
.host{
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    align-items: center;
    padding: 40px;
    gap:20px;
}
.host h3{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.host p{
    font-size: 1rem;
    color: #fae9e9;
   line-height: 28px;
}
.host .social-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}
.social-icon i{
    margin-right: 8px;
    width:40px;
    height:40px;
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;             
    -webkit-background-clip: text;     
    color: transparent;
    -webkit-text-fill-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;  
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc6c6;
    cursor: pointer;
}
.social-icon i:hover {
    transition: all 0.3s ease;
    border-color: #FB09B4;
}
/* Featured Episodes Section */
/* Footer Section */
.footer-container{
    background: url(./assets/footer-bg.png);
    width: 100%;
    height:375px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.footer-container h1{
    font-size: 5rem;
    color: #FFFFFF;
}
.footer-container h1 span{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;             
    -webkit-background-clip: text;     
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.footer-icon{
    display: flex;
    gap: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
.footer-icon i{
  margin-right: 4px;
  font-size: 1rem;
}
.footer-icon i:hover{
   color: #ead3d3;
}
.cpy-right{
    color: #b1aaaa;
    font-size: 1rem;
}
/* Footer Section */